<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
    <!--
    Project Name: Onsemble
    Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
    Last Updated: March 1, 2016
    -->
        <link rel="icon" type="image/png" href="/assets/img/Onsemble.png">
        <title>
            Stage - Onsemble
        </title>
        <!-- Bootstrap CSS-->
        <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
        <!-- Ion Icon Styles CSS-->
        <link href="/assets/css/ionicons.css" rel="stylesheet" type="text/css">
        <!-- Font Awesome CSS-->
        <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
        <!-- Fancy Box CSS-->
        <link href="/assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/south-street/jquery-ui.css" type="text/css">
        <!-- Viewpoint Animation CSS-->
        <link href="/assets/css/animations.min.css" rel="stylesheet" type="text/css">
        <!-- Custom CSS-->
        <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/discover.css" rel="stylesheet" type="text/css">
        <!--JS-->
        <script src="/assets/js/jquery-1.11.1.js" type="text/javascript"></script>
        <script src="/assets/js/discover.js" type="text/javascript"></script>
        <script src="https://www.youtube.com/iframe_api" type='text/javascript'></script>
        <script src="/assets/js/youtubeVideos.js" type="text/javascript"></script>
    </head>
    <body data-spy="scroll" data-target="#menu-section">
        <!-- Navigation Bar-->
        <div id="menu-section" class="navbar navbar-inverse navbar-fixed-top scroll-me">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"></button> <a href="/" class="pull-left"><img src="/assets/img/Onsemble-Light.png" class="navbar-logo"></a>
                    <p class="nav navbar-text nav-logo">
                        <span style="color: #439756">n</span>semble
                    </p>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                            <a href="/upload">UPLOAD</a>
                        </li>-->
                        <li>
                            <a href="/discover/">DISCOVER</a>
                        </li>
                        <li>
                            <a href="/stage/">STAGE</a>
                        </li>
                        <!--<li>
                            <a href="/logout/">LOG OUT</a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div><!-- Discover-->
        <section id="discover" class="container">
            <div class="text-center">
                <h2 class="page-header">
                    Discover
                </h2>
            </div>
            <div class="col-xs-12 tab-content">
                <div class="col-md-4 col-md-offset-4">
                    <select class="div-toggle form-control"data-target=".stream1">
                      <option value="">Select a filter...</option>
                      <option value="boston" data-show=".boston">Trending Now (in Boston)</option>
                      <option value="lowell" data-show=".lowell">Top Acoustic (in Lowell)</option>
                    </select>
                </div>
                <div class="stream1">
                  <div class="boston hide"></div>
                  <div class="lowell hide"></div>
                </div>
            </div>
        </section>

<script src="/assets/js/jquery-1.11.1.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.js" type="text/javascript"></script>
<script src="/assets/js/main.js" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
</body>
</html>