extends layout_stage
block content
	// Discover
	link(href='/assets/css/discover.css', rel='stylesheet', type='text/css')
	section#discover.container
		.text-center
			h2.page-header
				| Discover
			h3.page-subheader
				| Trending Now (On YouTube)
		|             
		.col-xs-12.tab-content
			#myCarousel.carousel.slide
				.carousel-inner
					.item.active
						ul.thumbnails
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/tR87Jk8ECm0', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Santiago Paredes
										|                                             
										p
											| Happy Birthday (For Ben Knight)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/1s9Xs6wEZHc', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Megan Lee
										|                                             
										p
											| Unconditionally (Cover)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/CI4TMwFqEgA', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Alex Serra
										|                                             
										p
											| Georgia on My Mind (Ray Charles Cover)
					// /Slide1
					// 
					.item
						ul.thumbnails
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/NHVE_GEBFwM', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Ernie Halter
										|                                             
										p
											| Cyclone (Acoustic Cover)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/0H7aV1XckCo', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Justin Nozuka
										|                                             
										p
											| Carried You (Original)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/6h5OgqqSYw4', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| John Mayer (Trio)
										|                                             
										p
											| I Got A Woman (Cover)
					// /Slide2
					.item
						ul.thumbnails
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/l0rQFh-dG7s', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Tori Kelly
										|                                             
										p
											| Paper Hearts (Cover)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/9c1i7id2zdE', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Santiago Paredes
										|                                             
										p
											| Cyclone (Cover ft. Ernie Halter)
							|                                 
							li.col-sm-4
								.fff
									iframe(src='https://www.youtube.com/embed/tIx6_Z5v88k', width='320', height='240', frameborder='0', allowfullscreen='')
									|                                         
									.title-box
										h4
											| Justin Timberlake
										|                                             
										p
											| Sitting On The Dock Of The Bay (Cover)
					// /Slide3
				|                     
				ul.control-box.pager
					li
						a(data-slide='prev', href='#myCarousel')
							i(class="fa fa-arrow-left fa-3x")
					|                         
					li
						a(data-slide='next', href='#myCarousel')
							i(class="fa fa-arrow-right fa-3x")
		// /.control-box
		// /#myCarousel
		// /.col-xs-12
	script(src='/assets/js/jquery-1.11.1.js', type='text/javascript')
	script(src='/assets/js/bootstrap.js', type='text/javascript')
	script(src='/assets/js/main.js', type='text/javascript')
