<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    Project Name: Onsemble
    Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
    Last Updated: March 1, 2016
    -->
    <link rel="icon" type="image/png" href="/assets/img/Onsemble.png">
    <title>
        Error
    </title>
    <!-- Bootstrap CSS-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <!-- Ion Icon Styles CSS-->
    <link href="/assets/css/ionicons.css" rel="stylesheet" type="text/css">
    <!-- Font Awesome CSS-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Something went wrong!</h1>
    </div>
</body>
</html>
