<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    Project Name: Onsemble
    Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
    Last Updated: March 1, 2016
    -->
    <link rel="icon" type="image/png" href="/assets/img/Onsemble.png">
    <title>Stage - Onsemble</title>
    <!-- Bootstrap CSS-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Ion Icon Styles CSS-->
    <link href="/assets/css/ionicons.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Fancy Box CSS-->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/south-street/jquery-ui.css">
    <!-- Viewpoint Animation CSS-->
    <link href="/assets/css/animations.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target="#menu-section">
    <!-- Navigation Bar-->
    <div id="menu-section" class="navbar navbar-inverse navbar-fixed-top scroll-me">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a href="/" class="pull-left"><img src="/assets/img/Onsemble-Light.png" class="navbar-logo"></a>
                <p class="nav navbar-text nav-logo"><span style="color: #439756">n</span>semble</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="/upload">UPLOAD</a></li>-->
                    <li><a href="/discover/">DISCOVER</a></li>
                   <li><a href="/stage/">STAGE</a></li>
                    <!--<li><a href="/login/">LOG IN</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <!-- Home-->

    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                    <div>
                        <h1 class="title"><img src="/assets/img/Onsemble.png" class="onsemble-logo"/><span class="onsemble-grey">n</span><span class="onsemble-green">semble</span></h1>
                        <h2>One Stage, Immesurable Fanbase</h2>
                    </div>
                    <div id="mission">
                        <div>
                            <div class="title-box">
                                <h3>Instant connections, lasting relationships</h3>
                                <p>Onsemble is a promotional platform where undiscovered musicians can showcase their work to people in their surrounding communities and hope to be discovered.</p>
                                <p>Using <i>geotagging</i>, local artists can be connected to local fans.  Because of this, artists' work won't be overshadowed by multimillion-viewed videos, allowing artists to garner more success in their own locale.</p>
                                <p>Start your own journey!</p>
                            </div>
                            <!--
            <div class="item">
            <h3>Reaching multitude in one click</h3>
            <p>
            Push your latest video notifications to your fans and to potential fan base with a simple click of a button. Make your life
            easier in one swift action.
            </p>
            </div>
            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me"><a href="/login" class="btn button-onsemble btn-onsemble">Start Now!</a></div>
        </div>
    </div>
    <!-- Home End-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME-->
    <!-- CORE JQUERY-->
    <script src="/assets/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS-->
    <script src="/assets/js/bootstrap.js"></script>
</body>

</html>
