extends layout
block content
    // Home
    link(href='/assets/css/home.css', rel='stylesheet')
    #home
      .container
        .row
          .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
            div
              h1.title
                img.onsemble-logo(src='/assets/img/Onsemble.png')
                span.onsemble-grey n
                span.onsemble-green semble
              |                         
              h2
                | One Stage, Immesurable Fanbase
            |                     
            #mission
              div
                div
                  h3 Instant connections, lasting relationships
                  |                                 
                  p
                    | Speedily explore the latest and best of local artists. Follow their work and their tour as they grow, and never miss a beat.
                //
                  <div class="item">
                  <h3>Reaching multitude in one click</h3>
                  <p>
                  Push your latest video notifications to your fans and to potential fan base with a simple click of a button. Make your life
                  easier in one swift action.
                  </p>
                  </div>
        |             
        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-8.col-lg-offset-2.scroll-me
          a.btn.button-social-textbox.btn-social-textbox(href='/discover/') Start Now!
    // Home End
    // JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME
    // CORE JQUERY
    script(src='/assets/js/jquery-1.11.1.js')
    // BOOTSTRAP SCRIPTS
    script(src='/assets/js/bootstrap.js')
