doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		|     
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		|     
		meta(name='description', content='')
		|     
		meta(name='author', content='')
		//
			Project Name: Onsemble
			Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
			Last Updated: March 1, 2016
		link(rel='icon', type='image/png', href='/assets/img/Onsemble.png')
		|     
		title Stage - Onsemble
		// Bootstrap CSS
		link(href='/assets/css/bootstrap.css', rel='stylesheet')
		// Ion Icon Styles CSS
		link(href='/assets/css/ionicons.css', rel='stylesheet')
		// Font Awesome CSS
		link(href='/assets/css/font-awesome.css', rel='stylesheet')
		// Fancy Box CSS
		link(href='/assets/css/jquery.fancybox.css', rel='stylesheet')
		|     
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/south-street/jquery-ui.css')
		// Viewpoint Animation CSS
		link(href='/assets/css/animations.min.css', rel='stylesheet')
		// Custom CSS
		link(href='/assets/css/main.css', rel='stylesheet')
	body(data-spy='scroll', data-target='#menu-section')
		// Navigation Bar
		#menu-section.navbar.navbar-inverse.navbar-fixed-top.scroll-me
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						|                     
						span.icon-bar
						|                     
						span.icon-bar
					|                 
					a.pull-left(href='/')
						img.navbar-logo(src='/assets/img/Onsemble-Light.png')
					p.nav.navbar-text.nav-logo
						span(style='color: #439756') n
						| semble
				|             
				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/') HOME
						|                     
						li
							a(href='/discover/') DISCOVER
						|                     
						li
							a(href='/stage/') STAGE
						|                     
						li
							a(href='/login/') SIGN IN
		// Navigation End
		block content