extends layout
block content
	link(href='/stylesheets/login.css', rel='stylesheet', type='text/css')
	.login-box
		.lb-header
			a#login-box-link.active(href='#') Login
			a#signup-box-link(href='#') Sign Up
		.social-login
			a(href='#')
				i.fa.fa-facebook.fa-lg
				|  Login in with facebook
			a(href='#')
				i.fa.fa-google-plus.fa-lg
				|  Log in with Google
		form.email-login
			.u-form-group
				input(type='email', placeholder='Email')
			.u-form-group
				input(type='password', placeholder='Password')
			.u-form-group
				button Log in
			.u-form-group
				a.forgot-password(href='#') Forgot password?
		form.email-signup
			.u-form-group
				input(type='email', placeholder='Email')
			.u-form-group
				input(type='password', placeholder='Password')
			.u-form-group
				input(type='password', placeholder='Confirm Password')
			.u-form-group
				button Sign Up
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
	script(src='/js/main.js')
