extends layout
block content
    #stage
      // Home End
      section#stage-profile.container-fluid.step-on-stage
        .col-md-7
          img#pro-pic.profile-pic(src='/assets/img/team/santi.jpg')
          dl#profile-info.dl-horizontal.lead.font-white
            dt Name:
            |                 
            dd Santiago Paredes
            |                 
            dt Location:
            |                 
            dd Lowell, MA
            |                 
            dt Genre:
            |                 
            dd Folk
            dt Bio:
            dd I like long walks on the beach. Flexing my balloon muscles.
        |         
        #spotlight.col-md-5
          h2.spotlight-title.text-center.font-white Spotlight
          |             
          .text-center
            iframe(src='https://www.youtube.com/embed/iPeIXDRa2HE', width='425', height='200', frameborder='0', allowfullscreen='')
      |     
      section#releases.container-fluid
        div
          .text-center
            h3#recent-releases.font-black Recent Releases
            |                 
            .col-lg-4.col-md-4
              iframe(src='https://www.youtube.com/embed/iPeIXDRa2HE', width='350', height='200', frameborder='0', allowfullscreen='')
            |                 
            .col-lg-4.col-md-4
              iframe(src='https://www.youtube.com/embed/iPeIXDRa2HE', width='350', height='200', frameborder='0', allowfullscreen='')
            |                 
            .col-lg-4.col-md-4
              iframe(src='https://www.youtube.com/embed/iPeIXDRa2HE', width='350', height='200', frameborder='0', allowfullscreen='')
      |     
      .container-fluid.bg-blk
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.text-center
          .social
            a.btn.button-onsemble.btn-onsemble(href='#')
              i.fa.fa-facebook
            |                 
            a.btn.button-onsemble.btn-onsemble(href='#')
              i.fa.fa-twitter
            |                 
            a.btn.button-onsemble.btn-onsemble(href='#')
              i.fa.fa-google-plus
            |                 
            a.btn.button-onsemble.btn-onsemble(href='#')
              i.fa.fa-github
    script(src='/assets/js/jquery-1.11.1.js')
    script(src='/assets/js/bootstrap.js')
