<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--
    Project Name: Onsemble
    Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
    Last Updated: March 1, 2016
    -->
  <link rel="icon" type="image/png" href="/assets/img/Onsemble.png">
  <title>Stage - Onsemble</title>
  <!-- Bootstrap CSS-->
  <link href="/assets/css/bootstrap.css" rel="stylesheet">
  <!-- Ion Icon Styles CSS-->
  <link href="/assets/css/ionicons.css" rel="stylesheet">
  <!-- Font Awesome CSS-->
  <link href="/assets/css/font-awesome.css" rel="stylesheet">
  <!-- Fancy Box CSS-->
  <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/south-street/jquery-ui.css">
  <!-- Viewpoint Animation CSS-->
  <link href="/assets/css/animations.min.css" rel="stylesheet">
  <!-- Custom CSS-->
  <link href="/assets/css/main.css" rel="stylesheet">
  <link href="/stylesheets/upload.css" rel="stylesheet" type="text/css" />
</head>

<body data-spy="scroll" data-target="#menu-section">
  <!-- Navigation Bar-->
  <div id="menu-section" class="navbar navbar-inverse navbar-fixed-top scroll-me">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        <a href="/" class="pull-left"><img src="/assets/img/Onsemble-Light.png" class="navbar-logo"></a>
        <p class="nav navbar-text nav-logo"><span style="color: #439756">n</span>semble</p>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/upload">UPLOAD</a></li>
          <li><a href="/discover/">DISCOVER</a></li>
          <li><a href="/stage/">STAGE</a></li>
          <li><a href="/login/">LOG IN</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container auth">
    <h1 class="text-center">Upload your music...</h1>
    <div id="big-form" class="well auth-box">
      <form>
        <fieldset>
          <!-- Select Basic -->
          <div class="form-group">
            <label class=" control-label" for="selectbasic">Country</label>
            <div class="">
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
              </select>
            </div>
          </div>

          <!-- File Button -->
          <div class="form-group">
            <label class=" control-label" for="filebutton">Your video</label>
            <div class="">
              <input id="filebutton" name="filebutton" class="input-file" type="file">
            </div>
          </div>
          <!-- Text Input -->
          <div class="form-group">
            <label class=" control-label" for="filebutton">Youtube ID</label>
            <button id="singlebutton" name="singlebutton" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
            <div class="">
              <input id="filebutton" name="filebutton" class="input-file" type="text">
            </div>
          </div>
          <!-- Multiple Radios -->
          <div class="form-group">
            <label class=" control-label" for="radios">Are you awesome</label>
            <div class="">
              <div class="radio">
                <label for="radios-0">
                  <input name="radios" id="radios-0" value="1" checked="checked" type="radio"> Yes
                </label>
              </div>
              <div class="radio">
                <label for="radios-1">
                  <input name="radios" id="radios-1" value="2" type="radio"> No
                </label>
              </div>
            </div>
          </div>
          <!-- Button -->
          <div class="form-group">
            <div class="">
              <button id="singlebutton" name="singlebutton" class="btn btn-default">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</body>

</html>
