extends layout_stage
block content
  link(href='/stylesheets/upload.css', rel='stylesheet', type='text/css')
  .container
    form.form-horizontal.upload
      legend Upload to Onsemble
      fieldset
        .form-group
          label.col-md-4.control-label(for='selectbasic') Select Genre:
          .col-md-4
            select#selectbasic.form-control(name='selectbasic')
              option(value='1') Option one
              option(value='2') Option two
        .form-group
          label.col-md-4.control-label(for='textinput') Video Link:
          .col-md-4
            input#textinput.form-control.input-md(name='textinput', type='text', placeholder='video link')
        .form-group
          label.col-md-4.control-label(for='checkboxes') Make as a feature video:
          .col-md-4
            label.checkbox-inline(for='checkboxes-0')
              input#checkboxes-0(type='checkbox', name='checkboxes', value='1')
        .form-group
          label.col-md-4.control-label(for='singlebutton')
          .col-md-8
            button#singlebutton.btn.btn-primary(name='singlebutton') Upload    
            button#singlebutton.btn.btn-primary(name='singlebutton') Add more links
  .container
    p.copyright 
      | Important: By sharing, you confirm that your sounds comply with our Terms of use and you don’t infringe anyone else’s rights. If in doubt, check our 
      a(href='#') Copyright information pages 
      | and 
      a(href='#') FAQs before uploading.
    p 
      | Problems uploading? Please check our 
      a(href='#') troubleshooting 
      | tips or use the 
      a(href='#') Classic uploader.
