<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--
    Project Name: Onsemble
    Crew: Justin Nguyen, Santiago Paredes, Bunchhieng Soth, Takyui Lo
    Last Updated: March 1, 2016
    -->
    <link rel="icon" type="image/png" href="/assets/img/Onsemble.png">
    <title>Stage - Onsemble</title>
    <!-- Bootstrap CSS-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Ion Icon Styles CSS-->
    <link href="/assets/css/ionicons.css" rel="stylesheet">
    <!-- Font Awesome CSS-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Fancy Box CSS-->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/south-street/jquery-ui.css">
    <!-- Viewpoint Animation CSS-->
    <link href="/assets/css/animations.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/stylesheets/upload.css" rel="stylesheet" type="text/css" />
</head>

<body data-spy="scroll" data-target="#menu-section">
    <!-- Navigation Bar-->
    <div id="menu-section" class="navbar navbar-inverse navbar-fixed-top scroll-me">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a href="/" class="pull-left"><img src="/assets/img/Onsemble-Light.png" class="navbar-logo"></a>
                <p class="nav navbar-text nav-logo"><span style="color: #439756">n</span>semble</p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/upload">UPLOAD</a></li>
                    <li><a href="/discover/">DISCOVER</a></li>
                    <li><a href="/stage/">STAGE</a></li>
                    <li><a href="/logout/">LOG OUT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-horizontal upload">
            <legend>Upload to Onsemble</legend>
            <fieldset>
                <div class="form-group">
                    <label for="selectbasic" class="col-md-4 control-label">Select Genre:</label>
                    <div class="col-md-4">
                        <select id="selectbasic" name="selectbasic" class="form-control">
                            <option value="1">Option one</option>
                            <option value="2">Option two</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="textinput" class="col-md-4 control-label">Video Link:</label>
                    <div class="col-md-4">
                        <input id="textinput" name="textinput" type="text" placeholder="video link" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="checkboxes" class="col-md-4 control-label">Make as a feature video:</label>
                    <div class="col-md-4">
                        <label for="checkboxes-0" class="checkbox-inline">
                            <input id="checkboxes-0" type="checkbox" name="checkboxes" value="1" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="singlebutton" class="col-md-4 control-label"></label>
                    <div class="col-md-8">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Upload </button>
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Add more links</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="container">
        <p class="copyright">
            Important: By sharing, you confirm that your sounds comply with our Terms of use and you don’t infringe anyone else’s rights. If in doubt, check our <a href="#">Copyright information pages </a>and <a href="#">FAQs before uploading.</a>
        </p>
        <p>
            Problems uploading? Please check our <a href="#">troubleshooting </a>tips or use the <a href="#">Classic uploader.</a>
        </p>
    </div>
</body>

</html>